.impress-on-stack-accessibility .stack-accessibility-visible,
.impress-on-stack-aria .stack-aria-visible,
.impress-on-final .step {
  opacity: 1;
}

.impress-on-title .step,
.impress-on-dcmouyard .step,
.impress-on-accessibility-stack .accessibility-stack-hidden,
.impress-on-stack-dom .stack-dom-hidden,
.impress-on-stack-accessibility .stack-accessibility-hidden,
.impress-on-stack-aria .stack-aria-hidden,
.impress-on-tech-monitor .stack-dom-hidden,
.impress-on-wai-aria .wai-aria-hidden,
.impress-on-aria-definition .wai-aria-hidden,
.impress-on-attributes .wai-aria-hidden,
.impress-on-final .final-hidden {
  opacity: 0;
}

#dcmouyard h3 {
  font-weight: 300;
}
#dcmouyard .dan {
  background: #ccc;
  border: 2px solid #fff;
  border-radius: 2px;
  float: left;
  margin: .4em .5em 0 0;
}
#dcmouyard img {
  display: block;
}
#dcmouyard p {
  line-height: 2;
}

#stack-dom,
#stack-accessibility {
  transition: margin 0.5s;
}

.impress-on-stack-aria #stack-dom {
  margin-top: 90px;
}
.impress-on-stack-aria #stack-accessibility {
  margin-top: -200px;
}

.impress-on-tech-monitor #tech-monitor {
  background-image: url(../img/tech-monitor.png);
}

#questions .title {
  padding-bottom: 0;
}

